*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
/* body::-webkit-scrollbar{
    display: none;
} */
.parent{
    height: 130px;
    width: 100%;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.bullets{
list-style-type: none;
color: rgb(56,56,88);
display: flex;
font-size: 20px;
font-weight: 900;
width: 50% ;
justify-content: space-between;
align-items: center;

}
.bullets a{
    text-decoration: none;
    color: rgb(56,56,88);
}


.a:hover{
    color: rgb(192,148,120);
    
}
.b:hover{
    color: rgb(192,148,120);
}
.c:hover{
    color: rgb(192,148,120);
}
.d:hover{
    color: rgb(192,148,120);
}
.e:hover{
    color: rgb(192,148,120);
}
.f:hover{
    color: rgb(192,148,120);
}
.icon{
    display: flex;
    color: rgb(44,44,44);
    width: 5%;
    justify-content: space-between;
    align-items: center;
}
.icon i{
    font-size: 25px;
}


.whole-container{
    height: 185px;
    width: 100%;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(	https://demo-lopez.myshopify.com/cdn/shop/files/Untitled-1.png?v=1613545531);
}
.contact-container{
    height: 85px;
    width:80%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 12px;

    
}
.h-contact{
    height: 48px;
    width: 100%;
    /* background-color: azure; */
    color:#FFFFFF;
    font-size: 20PX;
}
.p-contact{
    height: 21px;
    width: 100%;
    /* background-color: azure; */
    color: #FFFFFF;
}
.all-p{
    height: 4350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* start */
.img-product{
    height: 670px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allimg-product{
    height: 540px;
    width: 90%;
    background-color:#FFFFFF;
    display: flex;
    gap: 30px;
    
}
.img-in-container{
    height: 440px;
    width: 44%; 

}
.img-in-container img{
    height: 440px;
    width: 100%;
}

.images-in-grid{
    height: 440px;
    width: 9%;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
   

}
.small-grid-image img{
    height: 98px;
    width: 100%;

}
.all-content-in-container{
    height: 540px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.flush-head{
  height: 35px;
  width: 100%;
  font-size: 25px;
  display: flex;

}
.flush-rate{
    height: 30px;
    width: 100%;
    display: flex;
    gap: 6px;
    font-size: 17px;

}
.flush-price{
    height: 35px;
    width: 100%;
    font-size: 30px;
    display: flex;
    color: rgb(231,203,163);
  
}
.flush-para{
    height: 98px;
    width: 100%;
    font-size: 18px;
    display: flex;
    color:#545454;
  
}
.whole-button-plus-minus{
    height: 50px;
    width: 78%;
    font-size: 30px;
    display: flex;
    gap:30px;

}
.btn-plus-minus{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(220,220,220);

}
.plus-btn{
    height: 25px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #545454;
}
.btn-value-cart{
    height: 25px;
    width: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    color: #545454;
    border: #545454;
    
}
.btn-amazon{
    height: 50px;
    width: 150px;
    background-color:rgb(192,149,120);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}
.btn-amazon button{
    height: 38px;
    width: 140px;
    background-color: rgb(192,149,120);
    color: #ffffff;
    border: rgb(192,149,120) ;

}
.btn-heart{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(220,220,220);
    font-size: 20px;
    color: #545454;
}
.cat{
    height: 22.5px;
    width: 100%;
    display: flex;
    gap: 20px;
    color: #545454;
    align-items: center;
  
}
.cat ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 17px;
}
.f-all{
    height: 21px;
    width: 80%;
    color: #545454;
}
.tag-b{
    height: 22.5px;
    width: 100%;
    color: #545454;
    align-items: center;
}

.share-b{
    height: 30px;
    width: 100%;
    color: #545454;
    display: flex;
    gap: 20px;
    align-items: center;
   
}
.share-b button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: #545454;
    background-color: #FFFFFF;
    border:0.5px solid #545454;
}
.share-b button:hover{
    background-color:  rgb(192,149,120);
    color: #FFFFFF;
    border:0.5px solid  rgb(192,149,120);
}
.guaranted{
    height: 24px;
    width: 100%;
    color: #545454;
}
.icon-amazonall{
    height: 35px;
    width: 100%;
    display: flex;
    gap: 4px;
}
.icon-amazonall img{
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(220,220,220);
    font-size: 20px;
    
}



/* end */
.description{
   height: 400px;
   width: 100%;
   background-color:#ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
}
.all-description{
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.ul-describe{
    height: 50px;
    width: 100%;
    display: flex;
   justify-content: center;
   text-align: center;
   color: #545454;
   
}
.describe-comment{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.des-para{
    height: 270px;
    width: 100%;
    font-size: 20px;
    background-color:#FFFFFF;
    color: #545454;
}
.related-products{
    
    display: flex;
    height: 110px;
    width: 100%;
    color: rgb(56,56,56);
    font-size: 15px;
    justify-content: center;
    align-items: center;
   
}
.wholeclass-related{
    display: flex;
    height:400px;
    width: 100%;
    justify-content:center;
    align-items: center;
    background-color: #FFFFFF;
}
.viewitems-whole{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    
    
   
}
.viewitems{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;  
  
}
.product{
    height: 380px;
    width: 275px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.product img{
    width: 275px;
    height: 300px;
}
.cart1{
    height: 40px;
    width: 120px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background-color:rgb(255,255,255);
    color:rgb(100,72,100);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 28%;
    display: none;
}
.product:hover .cart1{
    display: flex;
    animation: cart;
    animation-duration:0.5s;
}
@keyframes cart{
from{
  transform: scale3d(1);
}
to{
   transform: translateY(-10px);
}
}

.cart2{
    height: 40px;
    width: 120px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background-color:rgb(255,255,255);
    color:rgb(100,72,100);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 28%;
    display: none;
}
.product:hover .cart2{
    display: flex;
    animation-name: cart;
    animation-duration: 0.5s;
}
.cart3{
    height: 40px;
    width: 120px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background-color:rgb(255,255,255);
    color:rgb(100,72,100);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 28%;
    display: none;
  
}
.product:hover .cart3{
    display: flex;
    animation-name: cart;
    animation-duration: 0.5s;
}
.cart4{
    height: 40px;
    width: 120px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background-color:rgb(255,255,255);
    color:rgb(100,72,100);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 28%;
    display: none;
  
}
.product:hover .cart4{
    display: flex;
    animation-name: cart;
    animation-duration: 0.5s;
}
.viewitems-whole1{
    display: block;
    display: none;
}
.custom-collection{
    
    display: flex;
    height: 110px;
    width: 100%;
    color: rgb(56,56,56);
    font-size: 15px;
    justify-content: center;
    align-items: center;
   
}

.wholeclass-custom{
    display: flex;
    height:400px;
    width: 100%;
    justify-content:center;
    align-items: center;
    background-color: #FFFFFF;
}
.viewitems-whole{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
  
}
.viewitems{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
}
.product{
    height: 380px;
    width: 275px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.product img{
    width: 275px;
    height: 300px;
}
.cart1{
    height: 40px;
    width: 120px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background-color:rgb(255,255,255);
    color:rgb(100,72,100);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 28%;
    display: none;
}
.product:hover .cart1{
    display: flex;
    animation: cart;
    animation-duration:0.5s;
}
@keyframes cart{
from{
  transform: scale3d(1);
}
to{
   transform: translateY(-10px);
}
}

.cart2{
    height: 40px;
    width: 120px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background-color:rgb(255,255,255);
    color:rgb(100,72,100);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 28%;
    display: none;
}
.product:hover .cart2{
    display: flex;
    animation-name: cart;
    animation-duration: 0.5s;
}
.cart3{
    height: 40px;
    width: 120px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background-color:rgb(255,255,255);
    color:rgb(100,72,100);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 28%;
    display: none;
  
}
.product:hover .cart3{
    display: flex;
    animation-name: cart;
    animation-duration: 0.5s;
}
.cart4{
    height: 40px;
    width: 120px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background-color:rgb(255,255,255);
    color:rgb(100,72,100);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 28%;
    display: none;
  
}
.product:hover .cart4{
    display: flex;
    animation-name: cart;
    animation-duration: 0.5s;
}
.viewitems-wholecus{
    display: block;
    display: none;
}
.footer{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247,247,247);
   
}
.footer-container{
    height:70%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap:15px;
    
   
   
}

.lopez{
    height: 280px;
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.lopezicon{
    height: 48px;
    width: 160px;
}
.all-icon{
    height: 40px;
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
    color: rgb(102,102,126);
    
  
}
.lopez p{
    color: rgb(102,102,126);
}


.my-account{
    height: 280px;
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 40px;
      
}

.account{
    list-style-type:none ;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: rgb(102,102,126);
}

.quicklinks{
    height: 280px;
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
   
}
.quick{
    list-style-type:none ;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: rgb(102,102,126);
    
}
.contact{
    height: 280px;
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.lorem-para{
    color: rgb(102,102,126);
}
.location{
    color: rgb(102,102,126);
}
.contact-mailfull{
    height: 45px;
    width: 290px;
}
.contact-mail{
    height: 45px;
    width: 250px;
    background-color:black;
    color: #f7f7f7;
}
.wcc{
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.mwp{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    
    gap: 4px;
}
.wholecopy{
    height:90%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: px;
    color: rgb(102,102,126);
    
}
@media(max-width:1200px){
    .icon{
        display: flex;
        color: rgb(44,44,44);
        width: 7%;
        gap: 15px;
    }
    .icon i{
        font-size: 20px;
    }
    .bullets{
        display: flex;
        font-size: 20px;
        font-weight: 200;
        width: 55%;
    }
    .flush-para{
        height: 88px;
        width: 100%;
        font-size: 14px; 
    }
    .whole-button-plus-minus{
        height: 40px;
        width: 90%;
        display: flex;
        gap: 15px;
        align-items: center;
    
    }
    .btn-plus-minus{
        height: 40px;
        width: 80px;
    }

    .btn-amazon{
        height: 30px;
        width: 150px;
        background-color:rgb(192,149,120);
  
    }
    .btn-amazon button{
        height: 40px;
        width: 100%;
        font-size: 12px;
    
    }
    .btn-heart{
        height: 40px;
        width: 60px;
    }
    .cat ul{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 11px;
    }
    .head4-flush{
        font-size: 15px;
    }
    .cat{
        display: flex;
        gap:6px;
    }
    .description{
        height: 300px;
        width: 100%;
        background-color:#ffffff;
     }
     .all-description{
         height: 300px;
         width: 94%;
         display: flex;
         gap: 6px;

     }
     .describe-comment{
        display: flex;
        gap: 20px;
        font-size: 20px;
    }
    .des-para{
        height: 240px;
        width: 100%;
        font-size: 15px;
    }
    .des-para p{
        display: flex;
        justify-content: center;
    }

    .wholeclass-related{
        height:330px;
        width: 100%;
        background-color: #FFFFFF;
 
    }
    .wholeclass-custom{
        display: flex;
        height:350px;
        width: 100%;
        justify-content:center;
        align-items: center;
        background-color: #FFFFFF;
   
    }
   
    .viewitems-whole{
        width: 94%;
        height: 95%;

    }
    .viewitems{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr); 
    }
    .product{
        height: 280px;
        width: 100%;
        font-size: 14px;
    }
    .product img{
        width: 100%;
        height: 230px;
    }
   
    .footer{
        height: 30%;
        width: 100%;
        background-color:#f7f7f7;

       
    }
    .footer-container{
        height:90%;
        width: 90%;

    }
    .lopezicon{
        height: 10%;
        width: 60%;
    }
    .lop{
        font-size: 17px;
    }
    .contact-mailfull [type=email]{
        height: 50%;
        width: 55%;

    }
    .account{
        font-size: 11px;
    }
    .quick{
        font-size: 11px;
    }
    .lorem-para{
        font-size: 11px;
    }
    .location{
        font-size: 11px;
    }
    .lopez{
          height: 230px;
    }
    .my-account{
        height: 230px;

    }
    .quicklinks{
        height: 230px;
    }
    .contact{
        height: 230px;

    }
    .contact-mail{
        height: 25px;
        width: 60%;
    }
    .wcc{
        height: 5%;
    }
    .wholecopy{
        height:100%;
        width: 90%;
        
    }
}
@media(max-width:600px){
    .parent{
        height: 70px;
        width: 100%;
    }
    .nav-logo{
        width: 13%;
        height: 25px;
    }
    
    .bullets{
    display: flex;
    font-size: 10px;
    font-weight: 200;
    width: 60%;
    }
    .icon{
        display: flex;
        gap: 8px;
        width: 10%;
    }
    .icon i{
        font-size: 10px;
    }
    .h-contact h1{
        font-size:18px;
    }
    .p-contact p{
        font-size:16px;
    }
    .img-product{
        height: 1150px;
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .allimg-product{
        height: 1040px;
        width: 90%;
        background-color:#FFFFFF;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
    .img-in-container{
        height: 400px;
        width: 100%;
        
    
    }
    .img-in-container img{
        height: 380px;
        width: 100%;
    }
    .images-in-grid{
        height: 80px;
        width: 100%;
        background-color:#FFFFFF;
        display: flex;
        flex-direction: row;
        gap: 10px;
       
    
    }
    .small-grid-image img{
        height: 76px;
        width: 60px;
    
    }
    .all-content-in-container{
        height: 540px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    
    }
    .whole-button-plus-minus{
        height: 30px;
        width: 90%;

    }
    .btn-plus-minus{
        height: 30px;
        width: 60px;
    }

    .btn-amazon{
        height: 25px;
        width: 120px;
        background-color:rgb(192,149,120);
  
    }
    .btn-amazon button{
        height: 30px;
        width: 100%;
        font-size: 12px;
    
    }
    .btn-heart{
        height: 30px;
        width: 50px;
    }
    .icon-amazonall{
        height: 35px;
        width: 100%;
        display: flex;
        gap: 2px;
    }
    .icon-amazonall img{
        height: 30px;
        width: 47px;
    }
    .cat ul{
    font-size: 12px;
    }
    .share-b{
        height: 30px;
        width: 100%;
    }
    .share-b button{
        height: 20px;
        width: 20px;
        font-size: 15px;
    }
    .head4-flush{
        font-size: 13px;
    }
    .description{
        height: 660px;
        width: 100%;
        /* background-color:#ffffff; */
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .all-description{
         height: 100%;
         width: 90%;
         display: flex;
         flex-direction: column;
     }
    .describe-comment{
        height: 60px;
        width: 100%;
        display: flex;
        gap: 15px;
        font-size: 20px;
    }
    .des-para{
        height: 600px;
        width: 100%;
        font-size: 14px;
        line-height: 19px;
    }
    .des-para p{
        display: flex;
        justify-content: center;
    }
    .related-products{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 60px;
        width: 100%;
    }
    .related-products h1{
       font-size: 15px;
   
    }
    .viewitems-whole1{
        width: 100%;
        height:370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .viewitems1{
        width: 90%;
        height: 95%;

    }    
    .product{
        height: 340px;
        width: 90%;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 3%;
        left: 4%;
    }
    .product img{
        width: 100%;
        height: 280px;
    }
    .cart1{
        height: 40px;
        width: 120px;
        display: flex;
        border-radius: 20px;
        flex-direction: row;
        background-color:rgb(255,255,255);
        color:rgb(100,72,100);
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 35%;
        left: 28%;
        display: none;
    }
    .product:hover .cart1{
        display: flex;
        animation: cart;
        animation-duration:0.5s;
    }
    @keyframes cart{
    from{
      transform: scale3d(1);
    }
    to{
       transform: translateY(-10px);
    }
    }
    .wholeclass-related{
        display: block;
        display: none;
    }
    .custom-collection{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 60px;
        width: 100%;
    }
    .custom-collection h1{
       font-size: 15px;
   
    }
    .viewitems-wholecus{
        width: 100%;
        height:370px;
        display: flex;
        justify-content: center;
        align-items: center;
   
    }
    .viewitemscus{
        width: 90%;
        height: 95%;
 
    } 
    .product{
        height: 340px;
        width: 90%;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 3%;
        left: 4%;
    }
    .product img{
        width: 100%;
        height: 280px;
    }
    .cart1{
        height: 40px;
        width: 120px;
        display: flex;
        border-radius: 20px;
        flex-direction: row;
        background-color:rgb(255,255,255);
        color:rgb(100,72,100);
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 35%;
        left: 28%;
        display: none;
    }
    .product:hover .cart1{
        display: flex;
        animation: cart;
        animation-duration:0.5s;
    }
    @keyframes cart{
    from{
      transform: scale3d(1);
    }
    to{
       transform: translateY(-10px);
    }
    }
   
    .wholeclass-custom{
        display: block;
        display: none;
    }
    .footer{
        height: 1000px;
        width: 100%;
        background-color:#f7f7f7;
  
    }
    .footer-container{
        height:90%;
        width: 90%;
        display: flex;
        gap: 10px;
        flex-direction: column;
      

    }
    .lopez{    
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
     
    }
    .contact{
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .quicklinks{
        height: 110px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;   
    }
    .my-account{
        height: 110px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

    }
    .lopezicon{
        height: 12%;
        width: 30%;
    }
    .lop{
        font-size: 17px;
    }
    .contact-mailfull [type=email]{
        height: 50%;
        width: 55%;

    }
    .account{
        font-size: 14px;
    }
    .quick{
        font-size: 14px;
    }
    .lorem-para{
        font-size: 11px;
    }
    .location{
        font-size: 14px;
    }
    .lopez{
          height: 230px;
    }
    .my-account{
        height: 230px;

    }
    .quicklinks{
        height: 230px;
    }
    .contact{
        height: 230px;

    }
    .contact-mail{
        height: 25px;
        width: 60%;
    }
    .contact p{
        font-size: 14px;
    }
    .wcc{
        height: 50px;
        display: flex;
        align-items: center;
    }
    .wholecopy{
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      font-size: 12.5px; 
    }
    .mwp{
        display: flex;
        gap: 9px;
        font-size: 12px;
    }

}